.Window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 40px 0px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.slots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 540px;
}