.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Slot-windows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Settings-window {
  display: flex;
  justify-content: center;
  align-items: center;
}